# MySQL config
DB_HOST=frp-end.com
DB_PORT=39508
DB_USER=candidate
DB_PASSWORD=Root123!
DB_NAME=ai_interview_db
DB_TABLE=chat_logs_D

# GLM config
GLM_API_KEY=your_glm_api_key_here
GLM_MODEL=glm-4.7-flash
